extends layout

block metatags
    <meta http-equiv="refresh" content="60">

block content
    h1= title
    p Add a torrent or stream an active torrent:
        form(name="add-magnet", method="post")
            div.input
                span.label Magnet/Torrent : 
                    input(type="text", name="magnet", size=64, value="")
                    input(type="submit", value="Add")
    hr
    p(style="float:right;")
        a(href="/")="Refresh"
    h3 Active torrents
    each el in torrentlist
        li= el.name+" ("+el.progress+" %) "
            if el.progress > 0
                a(href="view/#{el.hash}", target="_blank")= "View"
            a(href="delete/#{el.hash}", style="margin-left:10px;")= "Delete"